# Fan control
type sysfs_fan, fs_type, sysfs_type;

# Trigger buttons
type proc_touchkey, fs_type, proc_type;

# Touchscreen
type sysfs_touchpanel_rotation, fs_type, sysfs_type;
